#container
{
    width: 340px;
    height: 550px;
    border: 3px solid black;
    margin: 0 auto;
    background-color: white;
}

body
{
    background-color: gray;
}

.top
{
    background-color: rgb(214, 210, 210);
    width: 340px;
    height: 60px;
}